.rightColumn {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  padding-top: 0px;
}

.progressIndicator {
  height: 20px;
  position: absolute;
  left: 70%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 240px;
  z-index: 10;
}

.fieldBorder {
  height: 480px;
  padding: 8px;
  width: 240px;

  @media (max-width: 728px) {
    height: 360px;
    width: auto;
  }

  img {
    display: block;
    height: -webkit-fill-available;
    object-fit: contain;
    image-rendering: auto;
  }
}